body{
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
  align-content: space-between;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
